body 
{
    font-family: "Arial";
    background-color: #32C6C1;
}

#Titulo
{
    display: flex;
    justify-content: center;
}

#Titulo1
{
    background-color: whitesmoke;
    width: 670px;
    height: 80px;
    text-align: center;
    margin-top: auto;
    border-radius: 10px;
    border: 2px solid black;
}

#Texto1
{
    justify-content: center;
}

#PrimerTexto-1
{
    background-color: whitesmoke;
    text-align: justify;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    margin-left: 45px;
    margin-right: 45px;
    border: 2px solid black;
    border-radius: 10px;
}

#Texto2
{
    display: flex;
    justify-content: space-evenly;
}

#PrimerTexto-2
{
    background-color: whitesmoke;
    width: 670px;
    height: 265px;
    text-align: justify;
    margin-top: 20px;
    padding-top: 1px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid black;
    border-radius: 10px;
}

#Imagen
{
    background-color: whitesmoke;
    margin-top: 20px;
    margin-left: 0px;
    margin-bottom: 20px;
    border: 2px solid black;
}

#Texto3
{
    display: flex;
    justify-content: space-evenly;
    justify-content: right;
}

#PrimerTexto-3
{
    background-color: whitesmoke;
    width: 600px;
    height: 385px;
    text-align: justify;
    padding-top: 1px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-right: 45px;
    margin-left: 45px;
    border: 2px solid black;
    border-radius: 10px;
}

#Imagen2
{
    background-color: whitesmoke;
    border: 2px solid black;
    
}
