body 
{
    font-family: "Arial";
    background-color: whitesmoke;
    margin: 0px;
}

#cabecera
{
    background-color: #1FC2BE;
    height: 80px;
    width: 100%;
    margin-bottom: 20px;
}

#Logo
{
    float: left;
    text-decoration: none;
    color: black;
    padding: 15px 0px 0px 20px;
}

    #NombrePag
    {
        color: #000000;
        display: block;
        text-align: center;
        font-weight: 700;
        font-size: 20px;
    }

    #FrasePag
    {
        display: block;
        color: #000000;
        font-weight: 300;
        font-size: 15px;
    }
    
nav
{
    float:right
}

    nav ul
    {
        list-style: none;
        margin: 0px;
        padding: 0px;
        padding-right: 20px;
    }

    nav ul li
    {
        display: inline-block;
        line-height: 80px;
    }

    nav ul li a
    {
        color: #000000;
        display: block;
        padding: 0px 10px;
        text-decoration: none;
    }

#Titulo
{
    display: flex;
    justify-content: center;
}

#Titulo1
{
    background-color: #1FC2BE;
    width: 670px;
    height: 80px;
    text-align: center;
    margin-top: auto;
    border-radius: 10px;
    border: 2px solid black;
}

#Texto1
{
    justify-content: center;
}

#PrimerTexto-1
{
    background-color: #1FC2BE;
    text-align: justify;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    margin-left: 45px;
    margin-right: 45px;
    border: 2px solid black;
    border-radius: 10px;
}

#Texto2
{
    display: flex;
    justify-content: space-evenly;
}

#PrimerTexto-2
{
    background-color: #1FC2BE;
    width: 670px;
    height: 265px;
    text-align: justify;
    margin-top: 20px;
    padding-top: 1px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid black;
    border-radius: 10px;
}

#Imagen
{
    background-color: whitesmoke;
    margin-top: 20px;
    margin-left: 0px;
    margin-bottom: 20px;
    border: 2px solid black;
}

#Texto3
{
    display: flex;
    justify-content: space-evenly;
    justify-content: right;
}

#PrimerTexto-3
{
    background-color: #1FC2BE;
    width: 600px;
    height: 385px;
    text-align: justify;
    padding-top: 1px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-right: 45px;
    margin-left: 45px;
    border: 2px solid black;
    border-radius: 10px;
}

#Imagen2
{
    background-color: whitesmoke;
    border: 2px solid black;
    
}
